// Start for this template
#page-wrap{
    margin-top: 60px;
    header{
        position: relative;
        margin-bottom: 74px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .title{
            top: 0;
            left: 0;
            position: absolute;
            width: auto;
            img{
                position: relative;
                width: 100px; 
            }
        }
        .myNavbar{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            #nav-tabs{
                display: flex !important;
                flex-wrap: nowrap !important;
                flex-direction: row;
                position:relative;
                border:none!important;
                font-size: 18px;
                font-weight: 500;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap !important;
                    margin:0px!important;
                    width: 80px;
                    height: 50px;
                    a{
                        display: flex !important;
                        flex-wrap: nowrap !important;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin-right: 0px!important;
                        width: 100%;
                        height: 100%;
                        border: none!important;
                        color: $grey;
                        &:hover{
                            border: none;
                        }
                    }
                }
            }
            .slider{
                display: inline-block;
                width: 80px;
                height: 50px;
                position: absolute;
                @include background(linear-gradient(to right, #00e0ff, #00beff));
                @include transition(all .4s linear);
                @include border-radius(100px);
                @include box-shadow(0 10px 20px 0 rgba(0, 190, 255, 0.2));
            }
            #nav-tabs .active{
                background-color:transparent!important;
                border:none!important;
                color: $white!important;
            }
            .nav-active{
                display: none;
            }
        }
    }
    .photolink{ 
        position: relative;
        @include transition(.5s all ease);
        .subtitle{
            color: $bluesky !important;
            font-weight: 700;
            font-size: 40px;
            font-family: $satisfy;
        }
        #creation{
            .nav-tabs .active{
                background-color:transparent!important;
                border:none!important;
                color: $white!important;
            }
            .nav-active{
                display: none;
            }
        }
        .tab-pane{
            margin: 4em 0;
            position: relative;
            .create{
                text-align: center;
                h6{
                    font-size: 14px;
                }
            }
            .row{
                .home{
                    padding: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 80%;
                    }
                }
                .welcome{
                    h1{
                        font-family: $satisfy;
                        span{
                            color: $love;
                            font-weight: 600;
                            font-family: $poiret;
                        }
                    }
                    text-align: center;
                    .btn-red{
                        background: transparent;
                        border: 2px solid crimson;
                        a{
                            color: crimson;
                            text-decoration: none;
                        }
                    }
                }
            }
            .navMenu{
                margin-top: 4rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                #content-tabs{
                    display: flex !important;
                    flex-wrap: nowrap !important;
                    align-items: center;
                    justify-content: center !important;
                    flex-direction: row;
                    position:relative;
                    border:none!important;
                    font-size: 18px;
                    font-weight: 500;
                    list-style: none;
                    li{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: nowrap !important;
                        margin: 0!important;
                        width: 120px;
                        a{
                            text-align: center;
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
                            display: flex !important;
                            flex-wrap: nowrap !important;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            margin-right: 0px!important;
                            width: 100%;
                            height: 100%;
                            border: none!important;
                            color: $grey;
                            &:hover{
                                border: none;
                            }
                        }
                    }
                    .list-slider{
                        z-index: -2;
                        display: inline-block;
                        width: 120px;
                        height: 50px;
                        position: absolute;
                        @include background(linear-gradient(to right, #00e0ff, #00beff));
                        @include transition(all .4s linear);
                        @include border-radius(100px);
                        @include box-shadow(0 10px 20px 0 rgba(0, 190, 255, 0.2));
                    }
                }
            }
            h1{
                color: rgb(22, 157, 211);                    
            }
            .banner{
                width: 100%;
                margin: 2em;
                padding: 3em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .banner-logo{
                    margin: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        border-right: 4px solid rgb(30, 145, 190);
                        width: 150px;
                    }
                }
                .caption{
                    margin: 1em;
                    font-family: $poppins;
                }
            }
            .masonry-with-column{
                width: 100%;
                columns: 4 300px;
                column-gap: .4rem;
                section{
                    position: relative;
                    overflow: hidden;
                    box-shadow: 0 5px 10px rgba(13, 103, 136, 0.2);
                    border-radius: 2px;
                    width: auto;
                    color: white;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    font-weight: 900;
                    font-size: 2rem;
                    @include transition(.5s all ease-in-out);
                    .art-hover{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: linear-gradient(to bottom, #00bfffbb, #32bbffbb, #0088ffbb);
                        opacity: 0;
                        cursor: pointer;
                        &:hover{
                            opacity: 1;
                        }
                        .icon-hover{
                            width: 50%;
                        }
                    }
                    a img{
                        width: 100%;
                        @include transition(.5s all ease-in-out);
                        &:hover{
                            @include transform(scale(1.6) rotate(10deg));
                        }
                    }
                }
            }
            .team{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    color: rgb(22, 157, 211);
                    margin: 2em 0 0 0;
                    font-family: $satisfy;
                    font-size: 30px;
                }
                .row{
                    margin: 1em;
                    .list-user{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .user-name{
                            margin: 1em;
                            box-sizing: border-box;
                            padding: 2em 1em;
                            border: none;
                            box-shadow: 0 5px 10px rgba(0, 134, 196, 0.199);
                            img{
                                width: 200px;
                                border-radius: 2%;
                            }
                            h4{
                                margin-top: 2em;
                                text-align: center;
                                font-family: $satisfy;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .contact{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    color: rgb(22, 157, 211);
                    margin: 2em 0 0 0;
                    font-family: $satisfy;
                    font-size: 30px;
                }
                #list-contact{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    section{
                        width: 120px;
                        display: flex;
                        flex-direction: column;
                        margin: 2em;
                        padding: 0;
                        text-align: center;
                        align-items: center;
                        @include transition(.5s all ease-in-out);
                        &:hover{
                            @include transform(scale(1.2));
                            filter: grayscale(100%);
                        }
                        img{
                            width: 70px;
                        }
                        p{
                            padding: 0;
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    #footer{
        width: 100%;
        padding: 2em 0;
        font-size: 12px;
        a{
            display: block;
            margin: 2em 0;
        }
        .nav-list{
            margin: 0 0 1em 0;
            display: flex;
            list-style-type: none;
            justify-content: center;
            font-weight: bold;
            color: $grey;
            padding: 0;
            li{
                margin: 0 .5em;
                a{
                    color: $grey;
                    @include transition(.3s all ease-in);
    
                }
            }
        }
        a{
            color: $grey;
            @include transition(.3s all ease-in);
    
        }
        h6{
            font-family: $satisfy;
            font-size: 22px;
        }
    }
    .shooting-star-animation{
        @include transform(rotate(150deg));
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    @keyframes particleAnimation
    {
        from {
    
            left: -100px;
        }
        to {
            left: calc( 100% + 100px );
        }
    }
    .p{
        @include border-radius(100%);
        position: fixed;
        left: 0px;
        top: 50px;
        animation-name: particleAnimation;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &::before{
            position:absolute;
            display:block;
            content:"";
            width:100px;
            right:1px;
            top:0px;
            height:5px;
            border-radius: 50% 20% 20% 50%;
            background: linear-gradient(to right, rgba(0, 50, 70, 0) 0%,rgba(0, 134, 196, 0.199) 100%); 
        }
    }
    .p-1{
        animation-duration: 10s;
    }
    .p-2{
        animation-duration: 5s;
        top: 20%;
    }
    .p-3{
        animation-duration: 20s;
        top: 45%;
    }
    .p-4{
        animation-duration: 15s;
        top: 60%;
    }
    .p-5{
        animation-duration: 30s;
        top: 70%;
    }
    .p-6{
        animation-duration: 2s;
        top: 90%;
    }
    .p-6{
        animation-duration: 35s;
        top: 100%;
    }
    
    #footer .nav-list, #footer p{
        margin-bottom: .5em;
        img{
            @include transition(.3s all ease-in);
            width: 30px;
            &:hover{
                filter: grayscale(100%);
            }
        }
    }
    #heart{
        color: $love;
        margin: 0 .2em;
        width: 12px;
    }
    #button{
        position: fixed;
        bottom: 6em;
        right: 1em;
        font-size: 14px;
        z-index: 1001;
        a{
            opacity: .5;
            display: block;
            cursor: pointer;
        }
        a:hover{
            color: $black;
        }
    }
}
@media screen and (max-width: 992px){
    .banner{
        flex-wrap: wrap;
        margin: 0 !important;
        .banner-logo{
            img{
                border-right: none !important;
                border-bottom: 4px solid rgb(30, 145, 190);
            }
        }
    }
    .list-hover{
        img{
            width: 50% !important;
        }
        p{
            display: none;
        }
    }
}
@media screen and (max-width: 600px){
    #page-wrap{
        header{
            position: relative;
            margin-bottom: 74px;
            height: 100%;
            width: 100%;
            display: block;
            .title{
                position: relative;
                img{
                    position: relative;
                }
            }
        }
        .subtitle{
            text-align: center;
        }
        .banner{
            padding: 1em !important;
            h1{
                text-align: center;
            }
        }
        .welcome{
            p{
                width: 100% !important;
            }
        }
        #content-tabs{
            li{
                width: 80px !important;
            }
            span{
                display: none;
            }
        }
        .contact{
            #list-contact{
                width: 100% !important;
            }
            img{
                width: 80px !important;
            }
        }
        h1{
            text-align: center !important;
        }
    }
}